<div class="container con mt-5 text-light bg-info">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1>Welcome aboard!</h1>
      <p class="lead">
        Explore, connect, and grow with us. Dive into engaging discussions, gain
        valuable insights, and make meaningful connections. Here's to a journey
        of discovery and collaboration!
      </p>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://via.placeholder.com/2000"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">employees</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/employees" class="btn btn-primary">Employees</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://via.placeholder.com/2000"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Departments</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/departments" class="btn btn-primary">Departments</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://via.placeholder.com/2000"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Projects</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/projects" class="btn btn-primary">Projecst</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />
